.gpt3__whatgpt3 {
  color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.gpt3__whatgpt3-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 0;
}
.gpt3__whatgpt3-heading h1 {
  max-width: 510px;
  font-family: var(--font-family);

  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}
.gpt3__whatgpt3-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  color: #ff8a71;
}
.gpt3__whatgpt3-container {
  display: flex;
}
.gpt3__whatgpt3-feature .gpt3__features-container__feature {
  margin: 0;
}

.gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
  max-width: 700px;
}

@media screen and (max-width: 700px) {
  .gpt3__whatgpt3-feature {
    flex-direction: column;
  }
  .gpt3__whatgpt3-heading {
    flex-direction: column;
  }
  .gpt3__whatgpt3-container {
    flex-direction: column;
  }
}
