.gpt3__features {
  width: 100%;
  display: flex;
  margin: 1rem 0;
}
.gpt3__features-title {
  flex: 1;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;

  letter-spacing: -0.04em;

  color: #ffffff;
}
.gpt3__feature-text {
  flex: 2;
  font-family: var(--font-family);

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  color: #81afdd;
}
.gpt3__features-line {
  height: 3px;
  width: 40px;
  background: var(--gradient-text);
}

@media screen and (max-width: 700px) {
  .gpt3__features {
    flex-direction: column;
  }
}
